html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #1f242d;
    color: #fff;

}

.header {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 10px 100px;
}

.container ul {
    list-style: none;
}

.container nav h2 {
    color: #FBE4D6;
    font-size: 60px;
    font-weight: 500;
}

.container nav h2 span {
    color: #7cf03d;
}

.header_nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
    /* background-color: #000000; */
    /* background-color: slateblue; */

}

.header_nav ul li {
    display: inline-flex;
    list-style: none;
    margin: 10px 30px;
    text-decoration: none;
}

.header_nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* z-index: 1; */
    font-weight: 500;
    transition: .5s;
}
.header_nav ul li:hover a,
.header_nav ul li.active a{
    color: #7cf03d;


}
.main_image {
    /* height: 100px;
    width: 200px; */
    /* border: #1DCD9F solid 2px; */
    /* border-radius: 10px; */
    position: absolute;
    right: 120px;
    margin-top: 120px;
    
    /* padding-left:100px ; */
}
.main_image img{
    height: 500px;
    width: 500px;
    border: #fff 5px solid;
    border-radius: 50%;
    background: #71ff4a;
    box-shadow: 0 0 10px #71ff4a;

}

.header_text {
    color: #fff;
    margin: 200px 10px;
    font-size: 30px;
}

.header_text h1 {
    font-size: 45px;
    margin-top: 20px;

}
.header_text a{
    display: inline-block;
    margin-top: 50px;
    align-items: center;
    padding: 10px 30px;
    background-color:transparent;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    border: 2px solid #7cf03d;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600 ;
    transition: .5s;
    /* position: relative; */
}
.header_text a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: none;
}
.header_text span {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
}

/* About */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column_1 {
    flex-basis: 38%;
}

.column_1 img {
    margin: 20px;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    border: #7cf03d 2px solid;
    box-shadow: 0 0 15px #7cf03d;
}
.column_2 {
    flex-basis: 55%;
    padding-right: 30px;
    /* align-items: center; */
}

.column_2 p{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 300;
}
/* .column_2 p */
.title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-left: 0%;
    padding: 20px;
    /* display: inline-block; */
    /* align-items: center; */

}
.skill{
    /* text-decoration: none; */
    list-style-type: none;
    position: absolute;
    top: 135%;
    right: 60px;
    /* margin-bottom: 100px; */
    width: 700px;
    height: auto;
    margin: 60px auto;
    color: #fff;
    padding:     20px;
    border-radius: 20px;
    /* padding-left: 50px */
    box-shadow: 1px 14px 24px #000000;
}
.skill h1{
    font-size: 24px;
}
.skill h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.skill li{

    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.bar{
    background: #1f242d;
    display: block;
    height: 20px;
    border: 1px solid #9ce774;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow:0 0 10px #fff; ; */
    transition: 0.5s cubic-bezier(.25,.8,.25,1);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(100deg,#000000 , #7cf03d);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 80%;
    animation: css 3s;
}
.js{
    width: 50%;
    animation: js 3s;
}
.python{
    width: 90%;
    animation: python 3s;
}

/* Services */
.services{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 40px;
    margin-top: 50px;
    color: #fff;
}
.service_list{
    display: grid;
    padding: 10px;
    overflow: auto;

    grid-template-areas: 
        'B1 B2 B3';
    gap: 30px;
    padding: 10px;
    overflow: auto;
    color: #fff;
    /* grid-template-rows: 100px 400px 120px */

}
.item1{grid-area: B1;}
.item2{grid-area: B2;}
.item3{grid-area: B3;}

.service_list > div{
    margin-top: 30px;
    padding: 20px;
    border: #7cf03d solid 2px;
    /* background-color: #9ce774; */
    /* border-radius: 40px; */
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    transition: 0.5s;
    box-shadow: 0 0 15px #7cf03d;


}

.service_list div h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}
.service_list div p{
    margin-top: 15px;
    /* margin-bottom: 15px */
}
.service_list a{
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;

}
.service_list i{
    font-size: 40px;
}
.service_list div:hover{
    background: #7cf03d;
    color: #1f242d;
    transform: translate(0px ,-15px);
    box-shadow: none;
}
.service_list a:hover{
    cursor: pointer;
    color: #000000;
    font-size: 1rem;
    height: 0;
    
    /* border: 2px solid #000000; */

}
.portfolio{
    padding: 50px 0;
    font-size: 1.5rem;
}
.work_list{
    display: flex;
    gap: 40px;
    /* margin-top: 20px; */
    padding: 30px 0;
    /* padding-bottom: 40px; */
}
.image{
    position: relative;
    overflow: hidden;
    width: 50%;
    transition: 0.5s;
}
.image img{
    width: 100%;
    border: #7cf03d solid 2px;
    border-radius: 20px;
    /* transition: 0.5s; */
    /* box-shadow: 0 0 0px #7cf03d; */


}
.layer{
    /* margin-top: 5    0px; */
    padding: 20px;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#7cf03d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 0.5s;
}
.layer h3{
    margin-bottom: 30px;
}
.layer a{
    margin-top: 10px;
    color: blue;
    text-decoration: none;
    font-size: 18px;
    /* background: #fff; */
    /* width: 160px; */
    /* height: 60px; */
    /* border-radius: 50%; */
}
.image:hover{
    transform: scale(1.1);
}
.image:hover .layer{
    height: 100%;
}
.btn{
    margin: 50px auto ;
    display: block;
    text-decoration:none;
    color: #fff;
    width: fit-content;
    border: 2px solid #7cf03d;
    padding: 10px;
    box-shadow: 0 0 10px #7cf03d;
    border-radius: 6px;
    transition: 0.5s;

}
.btn:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: none;
}
/* footer */
.column1{
    flex-basis: 35%;
}
.column2{
    flex-basis: 60%;
}
.column1 p{
    margin-top: 20px;
    font-size: 1.3rem;
}
.column1 p i{
    color: #7cf03d;
    margin-right: 15px;
    font-size: 30px;
}
.social_icons{
    margin-top: 30px;
    
}
.social_icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    /* color: #7cf03d; */
    color: #fff;
    display: inline-block;
    transition: 0.5s;
    /* box-shadow: 0 0 10px #7cf03d; */
    /* border:2px solid #7cf03d; */
}
.social_icons a:hover{
    color: #7cf03d;
    transform: translateY(-5px);

}
.column2 form{
    /* margin-top: -10px; */
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border-radius: 8px;
    border: .5px solid #fff;
    background: #1f242d;
    padding: 15px;
    margin: 15px 0;
    color: #7cf03d;
    font-size: 18px;
}
.button{
    /* align-items: center; */
    display: block;
    color: #fff;
    width: fit-content;
    /* align-items: center; */
    justify-content: center;
    background-color: #1f242d;
    /* text-decoration: none; */
    box-shadow: 0 0 10px #7cf03d;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 20px;
    font-size: 20px;
    margin: 0 8px;
    transition: .5s;
    
}


.button:hover{
    background: #7cf03d;
    color: #000000;
    
}
.footer{
    background-color: #000000;
    width: 100%;
    height: 60px;
    /* display: flex; */
}
.footer{
    display:flex;
    position: relative;
}
.btns{
    display: inline-flex;
}
.btns li{
    /* margin: 10px; */
    padding: 20px;
    list-style: none;
    margin-left: 15px;
}
.btns a{
    text-decoration: none;
    color: #7cf03d;
}
.btns a:hover{
    color: #fff;
}
.nxt{
    padding-top: 15px;
    position: absolute;
    right: 13%;
}
nav .fa{
    display: none;
}
@media screen and (max-width: 600px) {
  /* Navigation Menu */
  .header{
    width: 100vh;
    height: 100vh;
    background-image: url(./images/IMG_20250608_182324\ \(1\).png);
    /* overflow-wrap: anywhere; */
    background-repeat: no-repeat;
    background-position:bottom;
    /* background-position: center; */
    /* background-position-x: top; */
    background-size: 200px;
  }

  .header_nav .lokesh{
    /* text-size-adjust: ?; */
    font-size: 2rem;
    display: flex;
    margin-left:10px;
    margin-top:20px ;
  } 
  .header_text h1{
    display: inline-block;
    position: absolute;
    text-align:left;
    left: 10%;
    font-size: 1.5rem;
    /* font-size: smaller; */
    margin-top: 50px;
  }
  .header_text p{
    font-size: 0%;
  }
  .header_text .btns{
    position: relative;
    font-size: 8px;
    top: 130px;
    left: -25%;
  /* position: inherit; */
  /* font-size: 0.9rem; */

  }

.header_nav ul{
    display: inline-block;
    text-align:left;
    margin-top: 30px;
    width: 100%;
    /* height: 100%; */
    background-color: #1f242d;
}
.header_nav ul li a{
    font-size: 100%;
    text-decoration: underline #71ff4a solid;
}
/* */
.main_image img {
    width: 0;
    height: 0;
  }

.ab_container h2{
    font-size: 3.5rem;
    margin-left: 20px;
}
  .main_text {
    max-width: 90%;
    padding: 0 20px;
  }

  /* Skills Section */
  .row{
    display: block;
  }
  .column_1 img{
    background-color: #8ae05c;
    margin-left: 40px;
    width: 100vh;
    height: 100vh;
    /* height: auto; */
  }
  .column_2 h1{
   display: block;
   margin-top: 30px;
    width: 100vh;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
  }
  .column_2 p{
    margin-left: 40px;
    width: 100vh;
  }

  .skill {
    /* display: inline-flex; */
    margin-top: 100px;
    margin-left: 40px;
    width: 95vh;
    height: 100vw;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    /* width: 100%/; */
    height: auto;
    position: static;
  }

  /* Services Section */
  .services{
    margin-top: -20%;
  }
  .container > .Title{
    width: 80vh;
    text-align: center;
    font-size: 34px;
    margin-top: 4px;
    margin-left: 20px;
  }
  .service_list {
    display: block;
    align-items: center;
    text-align: center;
  }


  /* Portfolio Section */
  .work_list {
    /* flex-direction:; */
    display: block;
    align-items: center;
    gap: 50px;
    margin-top: 0%;
  }
  .work_list .image{
    width: 90vh;
    height: 100vh;
    margin-bottom: 30px;
  }
  .my_work{
    width: 90vh;
    text-align: center;
  }
  .btn{
    width: 90vh;
    text-align: center;
  }
  /* Contact Section */
  #Contact{
    width: 100vh;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .column1 h1{
    width: 90vh;
    text-align: center;
    font-size: 40px;
    text-decoration-line: underline;
  }
  .column1 p{
    width: 90vh;
    margin-top: 40px;
    margin-bottom: 20px;
}
  .column1 .social_icons{
    margin-top: 30px;
    margin-bottom: 20px;
  }
.column2 {
    width: 90vh;
    align-items: center;
  }
  .column2 .button{
    width: 90vh;
  }
  
}
